<html>
  <head>
    <title>DashBoard</title>
    <link rel="stylesheet" type="text/css" href="/views/css/index.css" />
    <script>
      function openProfile() {
        location.href = "./profile.html";
      }
    </script>
    </head>
    <body>
  <div class="container">
      <div class="header">
        <div class="heading">Welcome to next Generation Power control</div>
        <div class="button">
          <button onclick="openProfile()">Profile</button>
        </div>
      </div>

      <div class="body">
        <div class="row-1">
          <table>
            <title>Power Consumption</title>
            <thead>
              <tr>
                <th>Appliance</th>
                <th>Time</th>
                <th>Power Usage</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>T.V</td>
                <td>10 min</td>
                <td>10W</td>
              </tr>
              <tr>
                <td>A.C</td>
                <td>12 min</td>
                <td>30W</td>
              </tr>
              <tr>
                <td>Fridge</td>
                <td>12 min</td>
                <td>18W</td>
              </tr>
              <tr>
                <td>Fridge</td>
                <td>12 min</td>
                <td>18W</td>
              </tr>
              <tr>
                <td>Fridge</td>
                <td>12 min</td>
                <td>18W</td>
              </tr>
              <tr>
                <td>Fridge</td>
                <td>12 min</td>
                <td>18W</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="row-2">
          <table class="first">
            <thead>
              <tr>
                <th>Username</th>
                <th>Total Power</th>
                <th>Total Bill</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Hemanth</td>
                <td>30W</td>
                <td>300rs</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="footer">
        <h2>This is footer</h2>
      </div>
    </div>
  </div>
  </body>
</html>
